<nav class="navbar">
    <ul class="bg-dark" id="navmenu">
     <!-- [ngClass]="{'bg-dark':_router.url != '/example'}"> -->
    <button class="btn-dropdown" (click)="displayDropdown()"> 
        <fa-icon [icon]="faBars"></fa-icon> 
    </button>

        <div id="logo">
            <img src="assets/images/logo.png" alt="koonejos" class="logo-mg">
            <span id="brand">
                <strong style="color: #6ce1e7;">
                    F</strong>elipe
                <strong style="color: #6ce1e7;">
                    C</strong>ruz
            </span>
        </div>
        <hr>
        <li class="nav-item"><a class="nav-link" [routerLink]="['home']" [routerLinkActive]="['active']" >Sobre mí</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['skills']" [routerLinkActive]="['active']" >Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['contact']" [routerLinkActive]="['active']" >Contacto</a></li>
        <hr>
        <br>
        <app-music></app-music>
    </ul>
    

</nav>

<div class="clearfix"></div>

