<div class="container content-center">

    <!-- <h1 class="header">
                Jesús Felipe Cruz Navarro
            </h1> -->
    <section class="about-me">

        <section class="row">

            <div class="col-12">
                <h3>¿Quién soy?</h3>
            </div>
            <div class="col-12">
                <p>
                    Entusiasta del conocimiento, aficionado del cyberpunk y el synthwave.
                    Mexicano, budista, ingeniero informático
                    y de voluntad fuerte.
                </p>
                <p>
                    ¿Es correcto lo que uno hace?
                    ¿Es necesario hacer las cosas al pie de la letra? A veces sí, a veces no.
                </p>
                <p>
                    Al final hay algo que es escencial y cierto,
                    las cosas deben hacerse mientras no afectes a alguien más.
                </p>
            </div>
        </section>

        <section class="row">

            <div class="col-12">
                <h3>Mi formación</h3>
            </div>

            <div class="col-12">
                <p>
                    Egresé de la carrera de ingeniería informática el 2019, de la Universidad de Guadalajara.
                </p>
                <p>
                    Ahí aprendí
                    <strong>programación básica, lenguaje C, C++ y C#, estructuras de datos,
                        bases de datos y administracion de servidores.</strong>
                </p>
                <p>
                    En ese lapso investigué por mi cuenta en vez de
                    solo aprender lo que la universidad ofrecía.
                    Aprendí los fundamentos de
                    <strong>Python, Javascript, PHP, Ruby</strong> por mencionar algunos.
                </p>
                <p>
                    A finales de la universidad tenia conocimientos en algoritmia
                    y las nociones de los frameworks MVC,
                    fue así entonces que dominaba lo basico del
                    desarrollo web con <strong>Laravel y Django</strong>.
                </p>
            </div>
        </section>

        <section class="row">

            <div class="col-12">
                <h3>Manos a la obra</h3>
            </div>

            <div class="col-12">
                <p>
                    Comenzando en junio del 2019, ingrese a Continental como soporte de aplicaciones
                    terminando mi estancia ahi, el 30 de abril del 2020.
                    <br>
                    Durante mi estancia desarrolle aplicaciones en Laravel, una en Django,
                    y en frontend casi siempre con <strong>JQuery</strong>, de mis ultimos trabajos
                    ahi, desarrollé una aplicación con <strong> VueJS y Laravel</strong> lo que me
                    llevó a estudiar frameworks de programación reactiva <strong>Angular y ReactJS</strong>.
                </p>
            </div>
        </section>

        <section class="row" style="margin-bottom: 150px;">
            <div class="col-12">
                <h3>¿Y ahora qué?</h3>
            </div>

            <div class="col-12">
                <p>
                    Actualmente estudio por mi cuenta temas que me gustan como
                    <strong>Inteligencia artificial
                    </strong> y<strong>Ciberseguridad</strong>
                    también, en el desarrollo, aprendo herramientas de devops como <strong>Dockers</strong>
                    y <strong>Jenkins</strong>.
                </p>
            </div>

            <a class="btn-skills" [routerLink]="['/skills']">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
        </section>


    </section>
</div>