<div class="container content-center">

    <div class="card col-12 col-lg-12">
        <div class="card-header">
            <h1 class="header">
                Jesús Felipe Cruz Navarro
            </h1>
        </div>
        <div class="card-body">
            <section class="about-me">
                <p>
                    Neófito del conocimiento, aficionado del cyberpunk y el synthwave.
                </p>
                <br>
                <p>
                    Mexicano, budista, ingeniero informático 
                    y de temperamento fuerte.
                </p>
                <br>
                <h3>¿Quién soy?</h3>
                <p> 
                    Egresé de la carrera de ingeniería informática el 2019,
                   
                   
                </p>
                <p>
                    ¿Es correcto lo que uno hace? 
                    ¿Es necesario hacer las cosas al pie de la letra? A veces sí, a veces no.
                    Entre tanto cuestionamiento siempre hay algo que es escencial y cierto,
                    las cosas deben hacerse mientras no afectes a alguien más.
                </p>

                <h3>Mi formación</h3>
                <p>
                    En la universidad aprendí
                    especialmente 
                    <strong>programación básica, lenguaje c, c++ y c#, estructuras de datos, 
                        bases de datos y administracion de servidores</strong>
                    las buenas prácticas llegaron después, 
                    a mediados de la universidad comencé a estudiar más por mi cuenta
                    y no solo aprender lo que los profesores enseñaban.
                    Comence a estudiar programacion básica en distintos lenguajes
                    <strong>Python, Javascript, PHP, Ruby</strong> por mencionar algunos.
                </p>
                <p>
                    A finales de la universidad tenia conocimientos básicos de los MVC, así comencé
                    el desarrollo web con frameworks, siendo <strong>Laravel y Django</strong> mis comienzos.
                </p>

                <h3>Manos a la obra</h3>
                <p>
                    Comenzando en junio del 2019, ingrese a Continental como soporte de aplicaciones
                    terminando mi estancia ahi, el 30 de abril del 2020.
                    <br>
                    Durante mi estancia desarrolle aplicaciones en Laravel, una en Django,
                    y en frontend casi siempre con <strong>JQuery</strong>, de mis ultimos trabajos
                    ahi, desarrollé una aplicación con <strong> VueJS y Laravel</strong> lo que me
                    llevó a estudiar frameworks de programación reactiva <strong>Angular y ReactJS</strong>.
                </p>

                <h3>¿Y ahora qué?</h3>
                <p>
                    El desarrollo web no fue lo unico que me produce interes.
                    Con bases de la universidad en la actualidad, estudio por mi cuenta
                    ramas de la informática como <strong>Inteligencia artificial y Ciberseguridad</strong>
                    también, en el desarrollo, aprendo herramientas de devops como <strong>Dockers</strong>
                    y en cuanto a desarrollo arquitecturas de <strong>PWA</strong>.
                </p>
            </section>
        </div>
    </div>

</div>