/* Fondo oscuro: #2f404d
Azul-verde oscuro: #3d898d
Azul cyan: #85ebd9
Gris claro: #e2dddf
gris oscuro: #b0acb0 */

/*
+========+
|GENERAL |
+========+
*/
*, *::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    background: no-repeat;

    /* hex der */
    background-image: linear-gradient( to right, rgb(0, 0, 0), rgba(12, 179, 209, 0.651) ), url('../images/bg2.jpg');
   
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}

#content{
    margin-bottom: 60px;
}

.clearfix{
    clear:both;
    float:none;
}

.subheader{
    text-align: center;
    font-size: 30px;
}

/* AUX COLORS */

.bg-dark{
    /* background: #000000c0 !important; */
    animation: fade-background-dark;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.text-success{
    color: lawngreen !important;
}

.text-danger{
    color: red !important;
}

.text-info{
    color: lightblue !important;
}

.skill-blue{
    animation: pulse-lightblue infinite 3s linear;
}
.skill-red{
    animation: pulse-red infinite 3s linear;
}
.skill-green{
    animation: pulse-green infinite 3s linear;
}
/* .bg-blue{
    background-color: rgb(67, 139, 206) !important;
    background-image: none !important;
} */

/*
+========+
|Navbar  |
+========+
*/

#navmenu{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    float: left;
    line-height: 85px;
    font-size: 22px;
    padding: 10px;
    /* background-color:  rgb(67, 139, 206); */
}

#logo{
    display: block;
    font-size: 22px;
    float: left;
    margin-right: 20px;
}

#logo img{
    display: block;
    float: left;
    max-height: 85px;
    width: 80px;
    margin-top: -4px;
  
    animation: pulse-blue infinite 1s linear;
}

#brand{
    display: block;
    margin: 0px;
    float: left;
    color: white;
}

#navmenu li{
    display: inline-block;
    list-style: none;
    float: right;
}

#navmenu li a{
    text-decoration: none;
    color: rgb(106, 240, 240);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 300ms;
    font-size: 25px;
}

#navmenu li a:hover{
    color: #ff70ff;
}


/* LINK ACTIVE */

.active{
    color: rgb(237, 101, 241) !important;
}

/*
+=======+
|Cards  |
+=======+
*/

.card{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    border: 2px solid rgb(86, 230, 255);
    border-radius: 15px;
    padding: 0px;
    animation: border-neon-pulse 2s infinite;
}

.card-header{
    background: #3d898d;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    width: inherit;
    display: block;
    text-align: center;
    border-radius:  15px  15px  0px  0px;
}

.card-body{
    background: #000000c0;
    width: inherit;
    display: block;
    color: rgb(106, 240, 240);
    border-radius:  0px  0px  15px  15px;
}

/*
+============+
|Animations  |
+============+
*/

/* PULSE FOR BORDER OF TRANSPARENT PNG */
@keyframes pulse-blue{
    from { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    50% { 
        /* border-color: #91bd09;  */
        -webkit-filter: drop-shadow (0 0 18px #06f7ff)
        drop-shadow(1px -1px 0 #06f7ff);
        filter: drop-shadow(1px 1px 0 #06f7ff) 
        drop-shadow(-1px -1px 0 #06f7ff);
     }
    to { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0))
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0 rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0)); 
    }
}


@keyframes pulse-green{
    from { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    40%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    50% { 
        /* border-color: #91bd09;  */
        -webkit-filter: drop-shadow (0 1 1px #4dff06)
        drop-shadow(0 1 0.1px .5px #4dff06);
        filter: drop-shadow(0px 0px 5px #4dff06) 
        drop-shadow(-1px -1px 0 #4dff06);
     }
     80%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
     }
    to { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0))
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0 rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0)); 
    }
}

@keyframes pulse-red{
    from { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    40%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    50% { 
        /* border-color: #91bd09;  */
        -webkit-filter: drop-shadow (0 0 18px #d13c3c)
        drop-shadow(1px -1px 0 #d13c3c);
        filter: drop-shadow(0px 0px 5px #d13c3c) 
        drop-shadow(-1px -1px 0 #d13c3c);
     }
     80%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
     }
    to { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0))
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0 rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0)); 
    }
}

@keyframes pulse-lightblue{
    from { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    40%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
    }
    50% { 
        /* border-color: #91bd09;  */
        -webkit-filter: drop-shadow (0 0 18px #069bff)
        drop-shadow(1px -1px 0 #069bff);
        filter: drop-shadow(0px 0px 5px #069bff) 
        drop-shadow(-1px -1px 0 #069bff);
     }
     80%{
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0  rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0  rgba(51, 51, 51, 0));
     }
    to { 
        /* border-color: #749a02;  */
        -webkit-filter: drop-shadow (0 0 9px rgba(51, 51, 51, 0))
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0));
        filter: drop-shadow(1px 1px 0 rgba(51, 51, 51, 0)) 
        drop-shadow(-1px -1px 0 rgba(51, 51, 51, 0)); 
    }
}

@keyframes border-neon-pulse{
    0%{
        border: 2px solid rgb(86, 230, 255);
    }
    50%{
        border: 2px solid rgb(255, 129, 213);
    }
    100%{
        border: 2px solid rgb(86, 230, 255);
    }
}

@keyframes fade-background-dark{
    from{
        background-color:  rgba(0, 0, 0, 0);
    }
    to{
        background-color: #000000c0;
    }
}

/* POSITIONS */
.content-center{
    justify-content: center;
}


/* ABOUT ME SECTION */
.about-me{
    font-size: 15px;
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}

footer{
    width: 100%;
    flex-shrink: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    color: white;
}

footer a{
    color: rgb(86, 230, 255);
    text-decoration: none;
    cursor: pointer;
}


/* MUSIC PLAYER */

.music-player{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    border: 2px solid rgb(86, 230, 255);
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    background: #000000c0;
    animation: border-neon-pulse 2s infinite;
}

.music-player button{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background:  #62cdd3;
    border: 1px solid #6ce1e7;
    color: rgb(237, 101, 241);
    border-radius: 2px;
    display: inline-block;
    transition: all 300ms;
    margin: 1px;
}

.music-player button:hover{
    border: 1px solid rgb(237, 101, 241);
}

/* JUMBOTRON */
.jumbotron{
    position: fixed;
    padding: 200px;
    min-height: 900px;
    color: white;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

.jumbo-header{
    text-align: center;
    font-size: 100px;
}

.jumbo-body{
    text-align: center;
    font-size: 30px;
}


/* SECTIONS */

section.skills{
    padding-top: 15px;
    justify-content: center;
    text-align: center;
}


/* TABLE */

.table{
    width: 100%;
    text-align: center;
    margin: 0px;
}

.table tr{
    width: 100%;
    margin: 0px;
}

.table thead tr th,
.table tbody tr td,
.table tr td{
    margin: 0px;
    padding: 10px;
    /* width: inherit; */
    border: 1px solid #62cdd3;
} 

@media screen and (max-width: 320px) {
    table {
      display: block;
      overflow-x: auto;
    }
}

@media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}


hr{
    border: 0;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #62cdd3, rgba(0, 0, 0, 0));
}



/* SKILLS */

.skill-icon{
    width: 55px;
    height: 55px;
}

.list-item-skill{
    list-style: none;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.281);
}

