<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Felipe Cruz</title>

</head>
<body>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/7.14.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="/__/firebase/7.14.1/firebase-analytics.js"></script>

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>
  
  <app-navbar></app-navbar >
    <div id="content" class="container-fluid row" style="margin-top: 120px;">                                     <!--Para las animaciones del router-->
      <div class="container col-lg-10 col-md-10 col-sm-12" [@triggerAnimation]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
      </div>
      
      <div class="container col-lg-2 col-md-2 col-sm-12">
        <app-music *ngIf="_router.url != '/'"></app-music>
      </div>

    </div>
  

  <footer [ngClass]="{'bg-dark':_router.url != '/'}" *ngIf="_router.url != '/'">
    
    <!-- MUSIC -->
    <p>
      Musica de <a href="https://whitebataudio.com/">White Bat audio</a>
    </p>
    <p>
      <!-- Hexagonos derecha -->
      Imagen de <a href="https://pixabay.com/es/users/CreativeMagic-480360/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3227459">Magic Creative</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3227459">Pixabay</a>
    </p>
    <!-- lluvia -->
    <!-- Imagen de <a href="https://pixabay.com/es/users/pic_matic-11207794/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4559068">Robin Lieck</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4559068">Pixabay</a> -->
    <!-- paneles -->
    <!-- Imagen de <a href="https://pixabay.com/es/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=34984">Clker-Free-Vector-Images</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=34984">Pixabay</a> -->
  </footer>
  
</body>

</html>