<div class="container content-center">

    <div class="card col-12 col-lg-12">
        <div class="card-header">
            <h1 class="header">
                Contacto
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <section class="about-me col-12 text-center">

                    <h1>Enviar un mensaje</h1>

                    <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre" #name="ngModel" [(ngModel)]="messageModel.name" required autocomplete="off"/>
                            <span class="form_error" *ngIf="name.touched && !name.valid">
                                El nombre no es válido.
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="left" for="message">Mensaje</label>
                            <textarea name="message" cols="30" rows="10" #message="ngModel" [(ngModel)]="messageModel.message" required></textarea>

                            <span class="form_error" *ngIf="message.touched && !message.valid">
                                El contenido no es válido.
                            </span>

                        </div>
                        
                        <button  class="btn-send" type="submit">
                            <fa-icon [icon]="faPaperPlane"></fa-icon>
                        </button>
                    </form>

                    <hr>
                    <section class="row" id="network-section">
                        <div class="container">
                            <h1 class="left">Mis redes</h1>
                            <div class="clearfix"></div>
                            <br>
                            <table>
                                <tr>
                                    <td>
                                        <a href="https://github.com/digitalHanzo?tab=repositories">
                                            <img class="skill-icon skill-blue" src="../../../assets/images/icons/github.png" alt="github">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.linkedin.com/in/jesus-felipe-cruz-navarro-929572167/">
                                            <img class="skill-icon skill-blue" src="../../../assets/images/icons/linkedin.png" alt="linkedin">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </section>
            
            </div>
        </div>
    </div>

</div>