<div class="card">
    <div class="card-header">
        <p>Está sonando <span class="song"></span></p>
    </div>

    <div class="card-body music-player">
        <button [ngClass]="{ 'active': status == 'pl'}" 
                (click)="playMusic()" > 
            <fa-icon [icon]="faPlay"></fa-icon> 
        </button>
        <button   [ngClass]="{'active': status == 'p'}" 
                  (click)="pauseMusic()" > 
            <fa-icon [icon]="faPause"></fa-icon> 
        </button>
        <button [ngClass]="{'active': status == 's'}"
                (click)="stopMusic()"  > 
            <fa-icon [icon]="faStop"></fa-icon> 
        </button>
    </div>
</div>