<div class="container content-center">

    <div class="card horizontal col-12 col-lg-12">
        <div class="card-header">
            <h1 class="header">
                Experiencia
            </h1>
        </div>
        <div class="card-body">
            <section class="skills">

                <div class="row">

                    <!-- <div class="col-lg-9 col-md-9 col-sm-12">
                        <p>
                        </p>
                    </div> -->

                    <div class="col-lg-12 col-md-12 col-sm-12" style="overflow-x:auto;">

                        <table class="table">
                            <tr>
                                <td>
                                    <fa-icon [icon]="faCircle" class="text-success"></fa-icon>
                                </td>
                                <td>Realicé proyectos, conocimientos sobre la herramienta.</td>
                            </tr>
                            <tr>
                                <td>
                                    <fa-icon [icon]="faCircle" class="text-info"></fa-icon>
                                </td>
                                <td>Puedo hacer proyectos, pero aún estudio la herramienta.</td>
                            </tr>

                            <tr>
                                <td>
                                    <fa-icon [icon]="faCircle" class="text-danger"></fa-icon>
                                </td>
                                <td>Aprendiendo.</td>
                            </tr>
                        </table>

                    </div>
                </div>

                <hr>

                <div class="container-fluid" style="margin-top: 10px; overflow-y:scroll;">

                    <!-- ROW 1 -->
                    <div class="row">

                        <!-- LENGUAJES -->

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Lenguajes</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of LanguageSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- BASES DE DATOS -->

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Bases de datos</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of DbSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div> <!-- FIN DE ROW 1-->
                    
                    <!-- ROW 2 -->
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Desarrollo móvil</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of MobileDevelopmentSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Frameworks Web</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of WebFrameworksSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div> <!-- FIN DE ROW 2-->


                    <!-- ROW 3 -->
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Librerías y básicos</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of BasicsAndLibrarysSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">DevOps</h4>
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of DevopsSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                        </div>


                        

                    </div> <!-- FIN DE ROW 3-->


                    <!-- ROW 4 -->
                    <div class="row">


                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Sistemas operativos</h4>
                            
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of OSSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>
                          
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 skill-list">
                            <h4 class="subheader">Extras</h4>
                            
                            <ul>
                                <li class="list-item-skill" *ngFor="let skill of ExtraSkills">
                                    <div class="tooltip">
                                        <span class="tooltiptext">{{skill.name}}</span>
                                        <img class="skill-icon {{skill.level}}" src={{skill.image}}
                                            alt={{skill.name}} />
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>

            </section>
        </div>
    </div>

</div>